.user__item{
}
.user__table{
    width: 100%;
    text-align: center;
    border: 1px solid #fda022;
    background: #fda022;
    border-radius: 10px;
    padding: 0 3px 3px 3px;
    transition: all 0.4s ease-out;
    position: relative;
}
.user__table tr{
    border: none;
    background: #FFFFFF;
}
.user__table thead{
    color: #FFFFFF;
}
.user__table caption{
    font-size: 25px;
    font-weight: 600;
    margin: 20px 0 20px 0;
}
.user__table .catalog__item{
    display: block;
}
.user__select{
    width: auto;
    margin: 5px;
}

.role__status.green{
    color: #00a200;
    font-size: 14px;
    font-weight: 600;
}
.user__select-wrapper{
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    flex-direction: column;
}
.fade-out {
    opacity: 0;
    transition: opacity 4s ease-out; /* Adjust the duration and easing function as desired */
}
.post__cell{
    cursor: pointer;
    transition: all 0.3s ease;
}
.post__cell:hover{
    color: #fda022;
    transition: all 0.3s ease;
}
.report__table{
    display: grid;
    grid-template-columns: repeat(5,auto);
    border-radius: 20px;
    border: 1px solid #fda022;
    overflow: hidden;
    margin-bottom: 50px;
}
.report__table-title{
    grid-column: 1/-1;
    font-size: 25px;
    font-weight: 600;
    margin: 20px 0 20px 0;
    text-align: center;
}
.report__table-head{
    background: #fda022;
    padding: 5px;
    text-align: center;
    color: #FFF;
    font-size: 17px;
    font-weight: 600;
}
.report__table-cell{
    margin: 10px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #fda022;
}
.report__table button{
    border: 1px solid #fda022;
    background: #FFF;
    padding: 5px;
    border-radius: 10px;
    margin: 10px 0 5px 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.report__table button:hover{
    transition: all 0.3s ease;
    background: #fda022;
    color: #FFF;
}

.user__table-empty{
    font-size: 25px;
    font-weight: 600;
}