.playlists{
    border-radius: 20px;
    padding: 10px;
    background: #fda022;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.playlists__title{
    grid-column: 1/3;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 20px 0;
    color: #fda022;
}

.playlists .profile__playlist-item{
    border-radius: 15px;
    border: 1px solid #FFF;
    padding: 10px;
}
.profile__post-item{
    display: flex;
    align-items: center;
}
.playlist__name{
    font-size: 22px;
    text-align: center;
    cursor: pointer;
}
.profile__post-item-title{
    font-size: 18px;
    margin: 0 0 0 10px;
    color: #FFFFFF;
}
.post__number{
    font-size: 20px;
    margin: 0 0 0 10px;
    font-weight: 600;
}