.playlists{
    border-radius: 20px;
    padding: 10px;
    background: #fda022;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.playlists__title{
    grid-column: 1/3;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 20px 0;
    color: #fda022;
}

.playlists .profile__playlist-item{
    border-radius: 15px;
    border: 1px solid #FFF;
    padding: 10px;
}
.profile__post-item{
    display: flex;
    align-items: center;
}
.playlist__name{
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile__post-item-title{
    font-size: 18px;
    margin: 0 0 0 10px;
    color: #FFFFFF;
}
.post__number{
    font-size: 20px;
    margin: 0 0 0 10px;
    font-weight: 600;
}
.playlist__button.cross{
    width: 25px;
    height: 25px;
    border: 1px solid #FFF;
    position: relative;
}
.playlist__button.cross:after, .playlist__button.cross:before{
    content: '';
    position: absolute;
    height: 20px;
    width: 2px;
    background: #FFFFFF;
    left: 50%;
    top:50%;
}
.playlist__button.cross:after{
    transform: translate(-50%, -50%) rotate(45deg);
}
.playlist__button.cross:before{
    transform: translate(-50%, -50%) rotate(-45deg);
}